// Colors
$font-color-1: #666666;
$font-color-2: #f8f8f8;
$font-color-3: #FF5D30;
$border-color: #999999;
$img-color:    #333333;
$description:  #EAEAEA;
$bordercolor1: #CBCBCB;
$bordercolor2: #E8E8E8;
$input-color1: #989898;
$bordercolor5: #555555;
$inputcolor:   #353535;
$ancolor: 	   #232323;
$fcolor: 	   #919191;


// Text color
$gray: $font-color-1;
$white: $font-color-2;
$red: $font-color-3;
$gray-1: $border-color;
$gray-2: $img-color;
$gray-3: $description;
$gray-4: $bordercolor1;
$gray-5: $bordercolor2;
$gray-6: $input-color1;
$gray-7: $bordercolor5;
$gray-8: $inputcolor;
$gray-9: $ancolor;
$gray-10: $fcolor;